<!--Extendind base.html-->

{% extends "base.html" %}
{% block title %} About - RoBoard {% endblock %}


{% block content %}
  <div class="container-xxl abt-intro-bg mb-5">
    <div class="row justify-content-center align-items-center text-white" style="height: 100vh; vertical-align:middle;">
        <div class="col-md-6 text-center d-block">
            <h1 class="display-1 text-nowrap">About RoBoard</h1>
            <p class="lead fst-italic">Don't wait until you've reached your goal to be proud of yourself. Be proud of every step you take toward reaching that goal.</p>
        </div>
    </div>
  </div>

  <div class="container-xxl" style="margin-top: 100px;">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6 text-center d-block">
            <img src="/static/assets/home.jpg" alt="" class="img-fluid rounded-3 shadow">
        </div>
        <div class="col-md-4 text-center">
            <h2>About RoBoad</h2>
            <p class="lead fst-italic mt-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita nisi autem neque, corrupti velit obcaecati nam! Nulla delectus, quaerat, voluptatum obcaecati eum quam, fugiat aliquid aspernatur consectetur accusantium illum non.</p>
            <p class="lead fst-italic">Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita nisi autem neque, corrupti velit obcaecati nam! Nulla delectus, quaerat, voluptatum obcaecati eum quam, fugiat aliquid aspernatur consectetur accusantium illum non.</p>
        </div>
    </div>
  </div>

  <div class="container-xl text-center" style="margin: 50px auto;">
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita nisi autem neque, corrupti velit obcaecati nam! Nulla delectus, quaerat, voluptatum obcaecati eum quam, fugiat aliquid aspernatur consectetur accusantium illum non.</p>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita nisi autem neque, corrupti velit obcaecati nam! Nulla delectus, quaerat, voluptatum obcaecati eum quam, fugiat aliquid aspernatur consectetur accusantium illum non, voluptatum obcaecati eum quam, fugiat aliquid aspernatur consectetur accusantium illum non.</p>
  </div> 
{% endblock %}