<!--Extendind base.html-->

{% extends "base.html" %}
{% block title %} Home - RoBoard {% endblock %}

{% block content %}


<!--Main image & Intro text-->
  <section id="intro" class="text-white home-bg">
    <div class="contaqiner-lg">
      <div class="row justify-content-center align-items-center" style="height: 80vh;">
        <div class="col-md-10 text-center text-md-left">
          <!--<form method="POST">-->
            <h1 class="display-4  fw-bold text-uppercase m-0" style="letter-spacing: 0px;">
              <p class="text-nowrap ">IT'S ALL ABOUT WHAT YOU</p>
              <p class="text-nowrap">CAN ACHIVE</p>
                <!-- <p class="fs-3 fw-normal mb-0">2022 <span class="fw-bold">GR</span> Supra Gloves</p>
                <p class="display-3 text-nowrap fw-bold text-uppercase m-0"></p>
                <p class="lead fw-normal fst-italic">Pre-book are now available</p> -->
            </h1>
            <p class="lead my-4 text-muted fs-6" style="width:70%;"><small>Empower yourself to make the changes you need to make</small></p>
            <!-- <button class="btn btn-lg btn-dark" name="gr2022" type="submit"><a href="/book-car">Book Now</a></button> -->
          </div>
        <!--</form>-->
      </div>
    </div>
  </section>
  <!--Main image & Intro text-->

 <!--New Releases-->
  <section id="new_releases" class="bg-light">
    <div class="contaqiner-lg">
      <div class="text-center my-5">
        <h1 class="display-4 fw-bold">New Releases</h1>
        <p class="lead fst-italic">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati repudiandae voluptates officia dolores, ullam sunt.</p>
      </div>
      <!--<form method="POST">-->
        <div class="row justify-content-center align-items-center my-5" >
          <div class="col-md-5">
            <div class="card shadow text-left" style="margin:auto; width: 90%;">
              <img src="/static/assets/New/t-shirt2.jpg" class="card-img-top" alt="...">
              <div class="card-body px-4">
                
                 <h4 class="card-title fw-bold text-uppercase m-0">WC Right Men's Slim Fit T-Shirt</h4>
                <p class="display-6 mt-1 mb-4">₹300</p>
                <p class="card-text mb-1">Wash in normal water dry-inside out do not iron on print & label.</p>
                <p class="card-text mb-1">Fit Type: Slim Fit.</p>
                <p class="card-text mb-1">Fabric: Lycra; Style: Regular.</p>
                <p class="card-text mb-1">Sleeve Type: Long Sleeve.</p>
                <p class="card-text mb-1">Material Type: Spandex.</p>
                <button class="col-6 btn btn-lg btn-dark float-right mt-5" type="submit" name="gr86"><a href="#">Buy Now</a></button>
              </div>
            </div>
          </div>
          <div class="col-md-5">
            <div class="card shadow text-left" style="margin:auto; width: 90%;">
              <img src="/static/assets/New/t-shirt1.jpg" class="card-img-top" alt="..." style="object-position: top ;">
              <div class="card-body px-4">
          
                <h4 class="card-title fw-bold text-uppercase m-0">FUAARK Men's Slim Fit T-Shirt</h4>
                <p class="display-6 mt-1 mb-4">₹689</p>
                <p class="card-text mb-1">Fit Type: Slim Fit</p>
                <p class="card-text mb-1">Wash Care: Wash In Normal Water Dry-inside Out Do Not Iron On Print & Label.</p>
                <p class="card-text mb-1">Fit Type: Slim Fit.</p>
                <p class="card-text mb-1">Sleeve Type: Long Sleeve.</p>
                <p class="card-text mb-1">Fabric Type: synthetic.</p>
                <button class="col-6 btn btn-lg btn-dark float-right mt-5" type="submit" name="gt4"><a href="#">Buy Now</a></button>
              </div>
            </div>
          </div>
        </div>
      <!--</form>-->
    </div>
  </section>
  <!--New Releases-->

  <!--Classic-->
  <section id="classics" class="bg-light">
    <div class="contaqiner-lg">
      <div class="text-center my-5">
        <h1 class="display-4 fw-bold">Protein Podwder</h1>
        <p class="lead fst-italic">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores, illum.</p>
      </div>
      <!--<form method="POST">-->
        <div class="row justify-content-center align-items-center my-5" >
          <div class="col-md-5">
            <div class="card shadow text-left" style="margin:auto; width: 90%;">
              <img src="/static/assets/Classic/Protein-Podwde-2.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                
                <h4 class="card-title fw-bold text-uppercase m-0">MuscleBlaze Creatine Monohydrate</h4>
                <p class="display-6 mt-1 mb-4">₹549</p>
                <p class="card-text mb-1"> Brand:-       MuscleBlaze</p>
                <p class="card-text mb-1">Item Form:-	   Powder</p>
                <p class="card-text mb-1">Flavour:-   	 Unflavoured</p>
                <p class="card-text mb-1">Net Quantity:- 100.0 gram</p>
                <p class="card-text mb-1">Package Type Jar</p>
                <button class="col-6 btn btn-lg btn-dark float-right mt-5" type="submit" name="2000gt"><a href="#">Buy Now</a></button>
              </div>
            </div>
          </div>
          <div class="col-md-5">
            <div class="card shadow text-left" style="margin:auto; width: 90%;">
              <img src="/static/assets/Classic/Protein-Podwde-1.jpg" class="card-img-top" alt="...">
              <div class="card-body">
               
                <h4 class="card-title fw-bold text-uppercase m-0">Bigmuscles Nutrition Premium Gold</h4>
                <p class="display-6 mt-1 mb-4">₹1,699.00</p>
                <p class="card-text mb-1">Brand:- 	  Bigmuscles Nutrition</p>
                <p class="card-text mb-1">Flavour:- 	Belgian Chocolate</p>
                <p class="card-text mb-1">Item Form:- Powder</p>
                <p class="card-text mb-1">Net Quantity:- 1000.0 gram</p>
                <p class="card-text mb-1">Package Type	Jar</p>
                <button class="col-6 btn btn-lg btn-dark float-right mt-5" type="submit" name="mk4"><a href="#">Buy Now</a></button>
              </div>
            </div>
          </div>
        </div>
      <!--</form>-->
    </div>
  </section>
  <!--Classic-->


{% endblock %}

{% block footer %}
  <!-- Footer -->
  <footer class="page-footer font-small text-light pt-3 mt-5 border-top"  style="background-color: rgba(0,0,0,.9);" >
    <!-- Footer Links -->
      <div class="container text-center text-md-left mt-5">
        <div class="row justify-content-center mt-3">
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <h6 class="text-uppercase font-weight-bold">ABOUT</h6>
            <hr class="accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
            <p class="mb-1"><a href="#!">Yoga does not remove us from the reality or responsibilities of everyday life but rather practical ground of experiences....</a></p>
           </div>
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <h6 class="text-uppercase font-weight-bold">CLASSES</h6>
            <hr class="accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
            <p class="mb-1"><a href="#!">Fitness Classes</a></p>
            <p class="mb-1"><a href="#!">Aerobics Classes</a></p>
            <p class="mb-1"><a href="#!">Yoga Classes</a></p>
           
          </div>
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <h6 class="text-uppercase font-weight-bold">About</h6>
            <hr class="accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
            <p class="mb-1"><a href="#!">Home</a></p>
            <p class="mb-1"><a href="#!">About Us</a></p>
            <p class="mb-1"><a href="#!">Contact Us</a></p>
            <p class="mb-1"><a href="#!">Accessibility</a></p>
            <p><a href="#!">FAQs</a></p>
          </div>
          <div class="col-md-3 col-lg-5 col-xl-3 mx-auto mb-4 text-center">
            <a href="/"><h6 class="display-5 mb-4 logo">RoBoard</h6></a>
            <div class="fs-3 text-muted">
              <a href=""><i class="bi bi-google"></i></a>
              <a href=""><i class="bi bi-meta ms-2"></i></a>
              <a href=""><i class="bi bi-twitter ms-2"></i></a>
              <a href=""><i class="bi bi-instagram ms-2"></i></a>
              <a href=""><i class="bi bi-youtube ms-2"></i></a>
            </div>
          </div>
        </div>
      </div>
  
      <!-- Copyright -->
      <div class="footer-copyright text-center py-3">© 2023 Copyright 
        <a href="#"> RoBoard.com</a>
      </div>
  </footer>
  <!-- Footer -->
{% endblock %}