/*Login & SignUp Page Styles*/

.bg-img{
    overflow: hidden;
    background: linear-gradient(90deg,rgba(0,0,0,.35) 0%, rgba(0,0,0,.35) 100%), url('/static/assets/loginbg.png');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    height: auto;
}


.divider{
    position: relative;
    margin: 30px 0;
    height: 1px;
}
.div-transparent:before{
    content: "";
    position: absolute;
    top: 0;
    left: 5%;
    right: 5%;
    width: 90%;
    height: 1px;
    background-image: linear-gradient(to right, transparent, rgb(48,49,51), transparent);
}

.div-arrow-down:after{
    content: "";
    position: absolute;
    z-index: 1;
    top: -7px;
    left: calc(50% - 7px);
    width: 14px;
    height: 14px;
    transform: rotate(45deg);
    background-color: white;
    border-bottom: 1px solid rgb(48,49,51);
    border-right: 1px solid rgb(48,49,51);
}

/*Login & SignUp Page Styles*/